@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

body {
    margin: 0;
    font-family: 'Playwrite NZ Basic', cursive;
}

.bg {
    filter: opacity(0.7); /* значение от 0 до 1 */
    background-image: url('/img/src/Obloshka.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the background is behind other content */
}


h1  {

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color for better visibility */
    font-size: 3em; /* Adjust font size as needed */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better readability */
}

.start_quiz {
    font-family: 'Playwrite NZ Basic', cursive;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better visibility */
    border: none;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add shadow for better readability */
}